.chyron-runner-container {
    width: 970px;
    height: 300px;
    margin-top: 850px;
    margin-left: 180px;
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Alinea los elementos en columnas */
    position:absolute
}

.chyron-runner-container2 {
    width: 1800px;
    height: 300px;
    margin-top: 830px;
    margin-left: 80px;
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Alinea los elementos en columnas */
    position:absolute

}

.chyron-runner-dorsal-container {
  display: flex; /* Utiliza flexbox */
  background-color: #e80b28;
  padding: 0px 8px
}

.chyron-runner-dorsal-text {
    display: flex; /* Utiliza flexbox */
    z-index: 3;
    font-family: 'Medium', sans-serif; /* Define la fuente */
    font-size: 38px;
    color: white;
}

.chyron-runner-nom-container {
  display: flex; /* Utiliza flexbox */
  background-color: black
}

.chyron-runner-nom-text {
  display: flex; /* Utiliza flexbox */
  z-index: 3; 
  font-size: 38px;
  font-family: 'Medium', sans-serif; /* Define la fuente */
  color: white;
  margin-left: 25px;
  padding: 0px 5px

}

.chyron-runner-posicio-container {
  display: flex; /* Utiliza flexbox */
  background-color: rgb(0, 203, 122);
  padding: 0px 10px

}

.chyron-runner-posicio-text {
    display: flex; /* Utiliza flexbox */
    z-index: 3;
    font-family: 'Medium', sans-serif; /* Define la fuente */
    font-size: 38px;
    color: white;
}

.chyron-runner-cursa-container {
  display: flex; /* Utiliza flexbox */
  background-color: black
}

.chyron-runner-cursa-text {
  display: flex; /* Utiliza flexbox */
  z-index: 3; 
  font-size: 38px;
  font-family: 'Medium', sans-serif; /* Define la fuente */
  color: white;
  margin-left: 25px;
}

.chyron-runner-posicio-container {
  display: flex; /* Utiliza flexbox */
}

.chyron-runner-cursa-container {
  display: flex; /* Utiliza flexbox */
}



@keyframes slideLeftChyron {
    0% {
      transform: translateX(-180%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slideRightChyron {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-180%);
    }
  }

  @keyframes slideLeftPerfil {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slideRightPerfil {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-120%);
    }
  }

  @keyframes slideUpFoto {
    0% {
      transform: translateY(130%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes slideDownFoto {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(130%);
    }
  }