.Top3-container {
    position: absolute;
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Alinea los elementos en columnas */
}

.top3-capcelera {
    position: absolute;
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Alinea los elementos en columnas */
    margin-top: 590px;
    margin-left: 190px;
}

.top3-rect {
    background-image: url('');
    background-size: 51%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 825px;  /* Asegúrate de agregar un ancho */
    height: 197px; /* Asegúrate de agregar una altura */
    transition: height 0.5s ease-in-out; /* Transición suave */
}


.top3-lletres{
    margin-top: -350px;
}


.top3-top {
    width: 315px;
    height: 29px;
    background-color: #e80b2a;
    margin-left: 133px;
    margin-top: 142px;
    transform: skewX(-16deg);
    display: flex;
    align-items: center; 
}

.top3-top-text {
    margin-top: 2px;
    font-family: 'Medium', sans-serif; /* Define la fuente */
    font-size: 20px; /* Define el tamaño de la fuente */
    color: #ffffff;
    margin-left: 15px;
}

.top3-cursa {
    width: 490px;
    height: 60px;
    margin-left: 60px;
    margin-top: 5px;
    transform: skewX(-16deg);
    display: flex;
    align-items: center; 
    overflow: hidden;
}

.top3-cursa-text {
    font-family: 'Bold', sans-serif; /* Define la fuente */
    font-size: 40px; /* Define el tamaño de la fuente */
    color: #ffffff;
    margin-left: 22px;
}

/* =========================================== */
/* == TAULA                                    */
/* =========================================== */

.top3-taula-container {
    width: 668px;
    height: 530px;
    margin-left: 192px;
    margin-top: 722px;
    overflow: hidden;
    position: absolute;
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Alinea los elementos en columnas */
}

.top3-taula-firstrow {
  width: 668px;
  height: 48px;
  font-family: 'Medium', sans-serif; /* Define la fuente */
  font-size: 15px; /* Define el tamaño de la fuente */
  color: #ffffff;
  display: flex;
  align-items: center; 
  background: linear-gradient(to right, #000000 70%, rgb(0,203,123) 100%);
}

.top3-taula-firstrow-atleta {
    margin-left: 66px;
}
.top3-taula-firstrow-dorsal {
    margin-left: 151px;
}
.top3-taula-firstrow-equip {
    margin-left: 30px;
}
.top3-taula-firstrow-checkpoint {
    margin-left: 30px;
}
.top3-taula-firstrow-temps {
    margin-left: 91px;
}

.top3-taula-rows {
    margin-top: 2px;
    width: 728px;
    height: 46px;
    display: flex;
    align-items: center; 
    /*background-color: black;*/
    color: #ffffff;
    font-family: 'Medium', sans-serif; /* Define la fuente */
    font-size: 15px; /* Define el tamaño de la fuente */
    overflow: hidden;
}

.top3-taula-posicio {
    width: 60px;
    height: 48px;
    background-color: #e80b2a;
    transform: skewX(-16deg);
    margin-left: -13px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
 
}

.top3-taula-posicio-text {
    font-family: 'Bold', sans-serif; /* Define la fuente */
    font-size: 26px; /* Define el tamaño de la fuente */
    color: #000000;
    margin-left: 20px;
    transform: skewX(16deg);

}

.top3-taula-pais {
    width: 35px;
    height: 38px;
    margin-left: 15px;
    background-position: center;
    background-size: cover;
}

.top3-taula-nom {
    margin-left: 11px;
    width: 155px;
    height: 47px;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.top3-taula-dorsal {
    margin-left: 8px;
    width: 60px;
    height: 47px;
    display: flex;
    align-items: center;
}

.top3-taula-equip {
    margin-left: 30px;
    width: 60px;
    height: 47px;
    display: flex;
    align-items: center;
}

.top3-taula-checkpoint {
    margin-left: 17px;
    width: 100px;
    height: 47px;
    display: flex;
    align-items: center;
}

.top3-taula-temps {
    margin-left: 13px;
    width: 100px;
    height: 47px;
    display: flex;
    align-items: center;
}

@keyframes slideLeftTop3 {
    0% {
        transform: translateX(-140%);
    }
    100% {
        transform: translateX(0%);
    }
    }

@keyframes slideRightTop3 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-140%);
    }
    }