/* src/App.css */
@font-face {
  font-family: 'BRSonoma-Bold'; /* Nombre de la fuente que usarás en tu CSS */
  src: url('./TTF/BRSonoma-Bold.ttf'); /* Ruta relativa o absoluta al archivo de la fuente */
  /* Otros atributos opcionales como font-weight, font-style, etc. */
}

@font-face {
font-family: 'BRSonoma-Light'; /* Nombre de la fuente que usarás en tu CSS */
src: url('./TTF/BRSonoma-Light.ttf'); /* Ruta relativa o absoluta al archivo de la fuente */
/* Otros atributos opcionales como font-weight, font-style, etc. */
}

@font-face {
  font-family: 'Black'; /* Nombre de la fuente que usarás en tu CSS */
  src: url('./TTF/HelveticaNeueBlack.otf'); /* Ruta relativa o absoluta al archivo de la fuente */
  /* Otros atributos opcionales como font-weight, font-style, etc. */
}
@font-face {
  font-family: 'Light'; /* Nombre de la fuente que usarás en tu CSS */
  src: url('./TTF/HelveticaNeueLight.otf'); /* Ruta relativa o absoluta al archivo de la fuente */
  /* Otros atributos opcionales como font-weight, font-style, etc. */
}
@font-face {
  font-family: 'BoldItalic'; /* Nombre de la fuente que usarás en tu CSS */
  src: url('./TTF/HelveticaNeueBoldItalic.otf'); /* Ruta relativa o absoluta al archivo de la fuente */
  /* Otros atributos opcionales como font-weight, font-style, etc. */
}
@font-face {
  font-family: 'Bold'; /* Nombre de la fuente que usarás en tu CSS */
  src: url('./TTF/HelveticaNeueBold.otf'); /* Ruta relativa o absoluta al archivo de la fuente */
  /* Otros atributos opcionales como font-weight, font-style, etc. */
}

@font-face {
  font-family: 'Roman'; /* Nombre de la fuente que usarás en tu CSS */
  src: url('./TTF/HelveticaNeueRoman.otf'); /* Ruta relativa o absoluta al archivo de la fuente */
  /* Otros atributos opcionales como font-weight, font-style, etc. */
}

@font-face {
  font-family: 'Medium'; /* Nombre de la fuente que usarás en tu CSS */
  src: url('./TTF/HelveticaNeueMedium.otf'); /* Ruta relativa o absoluta al archivo de la fuente */
  /* Otros atributos opcionales como font-weight, font-style, etc. */
}




.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #4caf50;
}

.gps-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

.gps-box-container {
  display: flex;
  justify-content: center;
}

.gps-box {
  background-color: #333333;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
  max-width: 220px;
  border: 5px solid transparent;
}

.gps-box.offline {
  background-color: #e538354b;
  border-color: #e53935;
}

.gps-box.online {
  background-color: #43a04843;
  border-color: #43a047;
}

.gps-box.active {
  background-color: #cfc10043;
  border-color: #ffff00;
}


.gps-box h3 {
  margin: 0;
  font-size: 1.2rem;
}

.gps-box p {
  font-size: 0.9rem;
  margin: 5px 0;
}
